/* Modern Reset */

/* Scrolling */
html {
    scroll-behavior: smooth;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Typography */
body {
    font-family: sans-serif;
    color: whitesmoke;
}

/* Body Overall Settings */
body {
    background-color: rgba(1, 30, 68, 0.87);
}


/* Navigation */
.main-header {
    display: grid;
    grid-template-areas:
    "name nav";
    grid-template-columns: 1fr auto;

    align-items: center;

    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: rgba(5, 123, 153, 0.795);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fullName{
    grid-area: name;
    padding-left: 15px;
    font-size: 25px;
}

.site-nav-bar{
    grid-area: nav;
    padding-right: 15px;
    
}

.site-nav-bar > ul {
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
    font-weight: bold;
    font-size: 20px;
}

.site-nav-bar > ul li {
    text-align: center;
    text-transform: uppercase;
}

.site-nav-bar > ul li a {
    color: rgba(5, 123, 153, 0.795);
    text-decoration: none;
}


.button{
    padding: 15px 10px;
    border-radius: 15px;
    cursor: pointer;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.1px;
    transition: all 0.3s ease;
}

.button:hover {
    letter-spacing: 3px;
    box-shadow: rgb(214, 205, 230) 0 5px 20px 5px;
}

/* Main */
main {
    display: grid;
    grid-template-areas: 
    "hiring"
    "about-me"
    "portfolio"
    "experience";
    grid-template-columns:1fr;
    
}

section {
    padding: 100px 25% 100px;
}

.hiring {
    grid-area: hiring;
    background-color: rgba(5, 123, 153, 0.795);
    font-size: 30px;
}

.hiring > h1 {
    font-size: 125px;
}

.text-highlight {
    color: rgb(4, 4, 43);
    font-size: 35px;
    font-weight: bold;
}

.text-underline {
    font-style: italic;
    letter-spacing: 2px;
    text-decoration: underline;
    text-decoration-color: rgb(4, 4, 43);
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

.about-me {
    grid-area: about-me;
    background-color: rgba(255, 255, 255, 0.795);

}

.portfolio {
    grid-area: portfolio;
    background-color: rgba(231, 170, 145, 0.795);
}

.experience {
    grid-area: experience;
    background-color: rgba(255, 255, 255, 0.795);
}

/* Footer */