/* Modern Reset */

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

/* Set core body defaults */
body{
    min-height: 100vh;
    line-height: 1.5;
}

/* Typography */

/* Navigation */

/* Main */

/* Footer */