body {
    margin: 0;
}

nav.site-nav-bar{
    background-color: dodgerblue;
    padding: 15px;
}

nav.content-nav-bar{
    background-color: lightblue;
    padding: 5px;
}

ul {
    display: grid;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-auto-flow: column;
}

ul li {
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    color: orange;
    text-decoration: underline;
}