* {
    scroll-behavior: smooth;
}

/* Pseudo selector */
/* a:nth-of-type(2){
    font-size: 39px;
} */

/* Pseudo class */
/* a:link{
    color: darkgreen;
    text-decoration: none;
}

a:visited{
    color:  lightseagreen;
}

a:hover {
    color: cornflowerblue;
    text-decoration: underline;
    cursor: grab;
} */

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}