* {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    margin: 0;
}

main {
    padding: 10px;
}
nav.site-nav-bar {
    background-color: dodgerblue;
    padding: 15px;
}

nav.content-nav-bar {
    position: sticky;
    top: 0;
    background-color: lightskyblue;
    padding: 15px;
}

footer.sticky-bottom {
    position: sticky;
    bottom: 0;
    top: 0;
    height: 20px;
    background-color: lightcoral;
}

.back-to-top{
    position: fixed;
    background-color: rgba(105, 105, 105, 0.486);
    border: 1px solid black;
    left: 15px;
    padding: 2px;
    margin: 0;
    bottom: 30px;
}

h2 {
    padding-top: 60px;
    margin: 0 0 15px 0;
}

ul {
    display: grid;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-auto-flow: column;
}

ul li {
    text-align: center;
}

a {
    color: white;
}

a:hover {
    color: orange;
    text-decoration: underline;
}